{% extends 'blog/base.html' %}
{% block content %}
<div class="col-md-12" style="display: grid; grid-template-columns: auto auto;"  class="container">
    {% for post in post_list %}
        <div class=" item service-item">
            <div class="icon">
            </div>
            <h5 class="service-title"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.name }}</a></h5>
            <p class="article-content">Type: {{ post.type }}</p>
            <p class="article-content">Genres: {{ post.genres }}</p>
            <a href="{% url 'post-detail' post.id %}" class="main-button">Watch</a>
        </div>
    {% endfor %}
</div>
{% endblock content%}