{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<style>
    .item .service-item{
    margin-top: 5px !important;
  }
  .make_grey{
    background-color: #131313  !important;
    }
    .content-section.make_grey {
        background-color: #131313  !important;
}
h3 {
    color: rgb(204, 204, 204) !important;
}
a.mr-2.active {
  color: white !important;
}
</style>
{% block content %}
{% if search_form %}
    <div class="content-section make_grey">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"></legend>
                {{search_form|crispy}}
            </fieldset>
            
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </form>
    </div>
{% endif %}
{% if post_list %}
    <div class="col-md-12" style="display: grid; grid-template-columns: auto auto;"  class="container">
        {% for post in post_list %}
            <div class=" item service-item">
                <div class="icon">
                </div>
                <h5  class="service-title"><a class="article-title">{{ post.name }}</a></h5>
                <p class="article-content">Type: {{ post.type }}</p>
                <p class="article-content">Genres: {{ post.genres }}</p>
                <a href="{% url 'post-detail' post.id %}" class="main-button">Watch</a>
            </div>
            <!-- <div class="scrollmenu">
                <div class="item service-item">
                    <div class="icon">
                    </div>
                    <h5  class="service-title"><a class="article-title">{{ post.name }}</a></h5>
                    <p class="article-content">Type: {{ post.type }}</p>
                    <p class="article-content">Genres: {{ post.genres }}</p>
                    <a href="{% url 'post-detail' post.id %}" class="main-button">Watch</a>
                </div>
            </div> -->
        {% endfor %}
    </div>
{% else %}
    <h3>{{ text }}</h3>
{% endif %}

{% endblock content %}