{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    button.btn.btn-outline-info {
      background-color: rgb(63, 171, 243);
      font-weight: 600;
      transition: 0.5s;
  }
  button.btn.btn-outline-info:hover {
      background-color: rgb(255, 204, 95);
      color: black;
  }
  /* .embed-responsive{
      margin-top: 10px;
      width: 90%;
  }
  .mr-2{
      width: 900px;
  }
  .media .content-section{
      width: 900px !important;
  } */
  .article-content{
      color:white !important;
      width: 90%;
  }
  .desc{
      padding-top: 20px;
  }
  .article-title{
      padding-bottom: 10px;
  }
  a.mr-2 {
  color: #aaaaaa !important;
}
h2.article-title {
    color: white;
}
.make_short{
    width: 200px;
}
  /*
  .form-group{
      width: 90%;
  }
  .col-md-12{
      width: 90% !important;
  }
  .item .service-item{
      margin-left: 0px !important;
  } */
  </style>
    <article class="media content-section">
        <img  src="{{ post.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.director }}</a>
            <!-- {% if user.is_superuser %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
                </div>
            {% endif %} -->
            </div>
            <h2 class="article-title">{{ post.name }}</h2>
            <video class="embed-responsive embed-responsive-16by9" controls="controls">
                <source src="{{post.video.url}}" type="video/mp4">
            </video>
            <p class="article-content desc">{{ post.content }}</p>
            <br>
            <p class="article-content">Type: {{ post.type }}</p>
            <p class="article-content">Rating: {{ post.rating }}</p>
            <p class="article-content">Genres: {{ post.genres }}</p>
            <p class="article-content">Director: {{ post.director }}</p>
            <p class="article-content">Counrtry: {{ post.country }}</p>
            <p class="article-content">Cast: {{ post.cast }}</p>
            <p class="article-content">Likes: {{ post.likes }}</p> 
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group make_short">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Select</button>
                </div>
            </form>
        </div> 
    </article>

            <div class="col-md-12" style="display: grid; grid-template-columns: auto auto;"  class="container">
                {% for post in posts %}
                    <div class=" item service-item">
                        <div class="icon">
                        </div>
                        <h5 class="service-title"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.name }}</a></h5>
                        <p class="article-content">Type: {{ post.type }}</p>
                        <p class="article-content">Genres: {{ post.genres }}</p>
                        <a href="{% url 'post-detail' post.id %}" class="main-button">Watch</a>
                    </div>
                {% endfor %}
            </div>

{% endblock content%}